.br {
  &--all {
    display: inline-block !important;
  }
  &--pc-none {
    display: none;
    @include tb-md {
      display: inline-block !important;
    }
  }

  &--pc-md {
    display: none;
    @include pc-md {
      display: inline-block !important;
    }
  }
  &--tb-md {
    display: none;
  }
}

.mb-only {
  display: none;
  @include tb-md {
    display: block;
  }
}

.pc-only {
  display: block;
  @include tb-md {
    display: none;
  }
}

// ~ 1440px
@include pc-lg {
  .text-section {
    &__desc {
      font-size: 1.8rem;
    }
    &__spliter {
      height: 57.5rem;
      &-item {
        height: 12rem;
      }
    }
  }

  .talent {
    &__img {
      &-container {
        margin-top: 8.4rem;
      }
    }
  }

  .color-scroller {
    &__text {
      font-size: 3.6rem;
    }
  }

  .top-btn {
    right: 7.2rem;
  }

  .creator {
    &__title {
      font-size: 5.4rem;
    }
    &__desc {
      font-size: 1.8rem;
      line-height: 1.9;
    }
    &__text-container {
      left: 15rem;
    }
  }

  .card {
    &__item {
      &:not(.rainbow-box) {
        width: 30.3rem;
        height: 40.8rem;
      }
      &:not(.rainbow-box, .line-rainbow) {
        padding: 2.4rem;
      }
    }
    &__list {
      gap: 2.4rem;
    }
    &__title {
      font-size: 3.6rem;
      line-height: 1;
      &-caption {
        &-text {
          font-size: 1.4rem;
          margin-top: -1.6rem;
        }
      }
    }
    &__content {
      font-size: 1.4rem;
      &-desc {
        margin-top: 2.4rem;
      }
    }
    &__account {
      &-id {
        font-size: 1.4rem;
      }
    }
    &__rainbow-text {
      font-size: 3.6rem;
    }
  }

  .data-id {
    &__img {
      &-title {
        font-size: 1.8rem;
      }
    }
  }

  .service {
    &-info {
      &__content {
        width: calc(100% - 30.3rem);
        padding-left: 8vw;
      }
    }
  }

  .rainbow-box {
    &__text {
      font-size: 2.4rem;
    }
  }

  .arrow {
    &-title {
      padding-bottom: 2.8rem;
    }
  }

  .ticker {
    &__text {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 1200px) {
  .mission {
    &__desc {
      br {
        display: none;
      }
    }
  }
}

// ~ 1024px
@include pc-md {
  .intro {
    &__desc {
      font-size: 2.6rem;
    }
  }

  .mission {
    &__title {
      font-size: 5rem;
    }
    &__desc {
    }
  }

  .text-section {
    &__desc {
      font-size: 1.6rem;
    }
    &__spliter {
      height: 45.6rem;
      &-item {
        height: 7.2rem;
      }
    }
  }

  .scroller-section {
    justify-content: stretch;
    align-items: stretch;
  }

  .talent {
    &__img {
      &-container {
        width: 50%;
      }
    }
  }

  .color-scroller {
    &__text {
      font-size: 2.4rem;
    }
  }

  .top-btn {
    right: 6rem;
  }

  .creator {
    &__title {
      font-size: 4rem;
    }
    &__desc {
      font-size: 1.6rem;
      margin-top: 2rem;
    }
    &__text-container {
      left: 6rem;
    }
  }

  .ticker {
    &__text {
      font-size: 1.6rem;
    }
  }
}
