body.--invert {
  background: $color__black;

  .scroller-section__title {
    color: $color__white;
  }
  .text-section {
    color: $color__white;
  }
}
.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  text-indent: 9999;
  width: 0;
  height: 0;
}
.logo {
  @include util__flex(center, center);
  width: 10rem;
  height: 100%;
  filter: invert(1);
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
}
.card {
  &__list {
    @include util__flex(stretch, center, 2.4rem);
  }
  &__item {
    @include util__flex(stretch, stretch, 0, column);
    border-radius: 2rem;
    padding: 2.4rem;
    width: 30.4rem;
    height: 40.8rem;
    border: 1px solid red;
  }
  &__title {
    font-size: 3.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    &-container {
      @include util__flex(space-between, flex-start);
    }
    &-caption {
      @include util__flex(stretch, flex-end, 0, column);
      font-size: 3rem;

      &-text {
        font-size: 1.4rem;
        font-weight: 800;
        margin-top: -1.2rem;
      }
    }
  }
  &__content {
    flex-grow: 1;
    font-weight: 700;
    line-height: $size__p-line-height;
    &-desc {
      margin-top: 2.4rem;
    }
    &-text {
      margin-top: 0.4rem;
      &-list {
        margin-top: 1.6rem;
      }
      &-item {
        margin-top: 0.4rem;
      }
    }
    &-list {
      margin-top: 3.2rem;
    }
    &-item {
      margin-top: 2.4rem;
      &-title {
        font-size: 1.6rem;
      }
      &-text {
        margin-top: 0.4rem;
      }
    }
  }
  &__account {
    @include util__flex(stretch, center, 0.8rem);
    font-size: 1.4rem;
    font-weight: 700;
    &-profile {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 100%;
      background: #ff009d;
    }
  }
  &__sub {
    &-title {
      @include util__flex(space-between, center);
      font-size: 1.6rem;
      font-weight: 800;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 4rem;
        height: 4rem;
        background: url('/assets/images/contract_icon.png');
      }
    }
  }
}

// 섹션
.sc {
  position: relative;
  overflow: hidden;
  &--full {
    .sc__inner {
      min-height: 100vh;
    }
  }
  &__inner {
    @include util__inner;
    height: 100%;
  }
  &__bg {
    @include util__bg;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-container {
      position: relative;
    }
  }
}
// //섹션

// 헤더
.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: -13.8rem;
  left: 0;
  transition: top 0.3s, filter 0.3s;
  &__inner {
    @include util__flex(space-between, stretch);
    @include util__inner;
    height: 13.8rem;
  }
  &__menu {
    &-list {
      @include util__flex(flex-start, center);
      height: 100%;
      margin-right: -2.5rem;
    }
    &-item {
      font-weight: 600;
      color: $color__white;
      font-size: 1.8rem;
    }
    &-link {
      padding: 2.5rem;
    }
    &-lang {
      @extend .header__menu-link;
      @include util__flex(stretch, stretch, 0.5rem);
      cursor: pointer;
      font-size: inherit;
      font-weight: inherit;
      &-icon {
        margin-bottom: 0.4rem;
      }
      &-text {
        @include util__flex(stretch, center);
      }
    }
  }
  &--invert {
    filter: invert(1);
  }
  &--show {
    @extend .header;
    top: 0;
  }
}
// // 헤더

// 인트로
.intro {
  &__desc {
    @include util__center-text;
    opacity: 0;
    font-size: 5.2rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.35;

    &:last-child {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__video {
    &-container {
      @include util__bg;
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// // 인트로

// 섹션2
.mission {
  &__dimmer {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  &__desc {
    @include util__center-text;
    font-size: 10rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
    &:nth-child(2) {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__bg {
    top: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
    &[data-bg='1'] {
      bottom: 0;
    }
    img {
      width: 100vw;
      height: 100vh;
    }
  }
}
// // 섹션2
.text-section {
  transition: color 0.3s;
  &__inner {
    @include util__flex(stretch, center);
    padding-top: 8rem;
    padding-bottom: 8rem;
    // min-height: 100vh;
  }
  &__text {
    &-container {
      width: 100%;
    }
  }
  &__head {
    @include util__head-title;
  }
  &__desc {
    @include util__flex(flex-end);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: $size__p-line-height;
    margin-left: auto;
  }
  &__scroller {
    @include util__flex(center, center);
    position: relative;
    height: 72rem;
    background-size: cover;
    background-position: center;
    padding: 18rem 0;
    &[data-scroller='1'] {
      background-image: url('/assets/images/text_scroller_01.jpg');
    }
    &[data-scroller='2'] {
      background-image: url('/assets/images/text_scroller_02.jpg');
    }
    &-text {
      @include util__head-title;
      text-align: center;
      color: $color__white;
    }
    &-item {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      max-width: 22%;
      height: 14rem;
      background: $color__white;
      &:last-child {
        top: unset;
        bottom: 0;
        left: 0;
        right: unset;
      }
    }
  }
}

// 섹션 4
.talent {
  &__inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    overflow: hidden;
  }
  &__head {
    @include util__flex(stretch, center);
    @include util__head-title;
  }
  &__img {
    width: 100%;
    &-container {
      width: calc(50% - 2.5rem);
      margin-right: 0;
      margin-left: auto;
      margin-top: 18rem;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(2n) {
        margin-left: 0;
        margin-right: auto;
      }
    }
    &-desc {
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 1.2rem;
    }
    &-scroller {
      position: absolute;
      transform: translateY(100%);
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// // 섹션 4

// 섹션 5
.scroller-section {
  &__inner {
    @include util__flex(stretch, stretch, 0, column);
    // min-height: 100vh;
  }
  &__title {
    @include util__head-title;
    font-weight: 800;
    flex-shrink: 0;
    margin-right: 16rem;
    transition: color 0.3s;
  }
  &__scroller {
    @include util__flex(stretch, center);
    flex-grow: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__desc {
    @include util__desc;
    margin-left: 10.4rem;
    flex-shrink: 0;
  }
}
.data-id {
  padding: 2.4rem 0;
  &__icon {
    @include util__flex(center, center);
    position: relative;
    width: 30rem;
    height: 30rem;
    border: 0.2rem solid $color__white;
    border-radius: 5.8rem;
    background: $color__black;

    &::after {
      @include util__arrow($color__white);
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: calc(100% + 1.2rem);
      transform: translateY(-50%) rotate(45deg);
    }

    img {
      width: 16rem;
      height: 16rem;
      object-fit: contain;
    }
    &-item {
      position: relative;
      &:last-child .data-id__icon {
        &::after {
          display: none;
        }
      }
    }
    &-list {
      @include util__flex(stretch, center, 6.4rem);
    }
    &-desc {
      font-size: 2.4rem;
      margin-top: 2.4rem;
      padding: 0 2.4rem;
      line-height: $size__p-line-height;
      font-weight: 700;
      color: $color__white;
    }
  }
  &__img {
    width: 50.6rem;
    height: 53.6rem;
    margin-left: 50rem;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  &__caption {
    position: absolute;
    bottom: 4vh;
    color: rgba(255, 255, 255, 0.6);
    line-height: $size__p-line-height;
  }
}
// // 섹션 5
.color-scroller {
  width: 100%;
  height: 17.4rem;
  position: relative;
  &__text {
    font-size: 3.6rem;
    color: $color__white;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    white-space: nowrap;
  }
  &__chip {
    display: inline-block;
    width: 33.33vw;
    height: 100%;
    position: absolute;
    left: 0;
    &:nth-of-type(1) {
      background: #e657af;
    }
    &:nth-of-type(2) {
      background: #0049ff;
      left: 33.3%;
    }
    &:nth-of-type(3) {
      background: #00bf41;
      left: unset;
      right: 0;
    }
  }
}

.creator {
  background: url('/assets/images/section_06_01.jpeg');
  background-size: cover;
  background-position: center;
  &__title {
    font-size: 5.4rem;
    line-height: 1.2;
  }
  &__inner {
    @include util__flex(center, stretch, 0, column);
  }
  &__desc {
    @include util__desc;
    line-height: 1.9;
    margin-top: 2.6rem;
  }
  &__text-container {
    position: absolute;
    left: 15rem;
    color: $color__white;
  }
}

.ground {
  &__inner {
    @include util__flex(center, flex-start, 0, column);
  }
  &__title {
    font-size: 5.4rem;
  }
  &__desc {
    font-size: 1.8rem;
    line-height: 1.9;
    font-weight: 700;
    margin-top: 3.4rem;
  }
}

.btn {
  @include util__flex(center, center);
  padding: 0.2rem 2rem;
  height: 4.8rem;
  border: 0.2rem solid $color__black;
  font-size: 1.8rem;
  font-weight: 700;
  &--black {
    @extend .btn;
    background: $color__black;
    color: $color__white;
  }
  &-container {
    @include util__flex(stretch, center, 1.8rem);
    margin-top: 7rem;
  }
}

// 푸터
.footer {
  padding: 5.8rem 0;
  background: $color__black;
  color: $color__white;
  font-size: 1.4rem;
  line-height: 1;
  word-spacing: 0.06em;
  &__inner {
    @include util__inner;
    @include util__flex(space-between, center);
  }
  &__info {
    &-copy {
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  &__logo {
    width: 19.3rem;
    img {
      width: 100%;
    }
  }
}
// // 푸터
