.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  text-indent: 9999;
  width: 0;
  height: 0;
}
.logo {
  @include util__flex(center, center);
  width: 10rem;
  height: 100%;
  filter: invert(1);
}

// 섹션
.sc {
  position: relative;
  overflow: hidden;
  &__inner {
    @include util__inner;
    height: 100%;
  }
  &__bg {
    @include util__bg;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-container {
      position: relative;
    }
  }
}
// //섹션

// 헤더
.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: -13.8rem;
  left: 0;
  transition: top 0.3s;
  &__inner {
    @include util__flex(space-between, stretch);
    @include util__inner;
    height: 13.8rem;
  }
  &__menu {
    &-list {
      @include util__flex(flex-start, center);
      height: 100%;
      margin-right: -2.5rem;
    }
    &-item {
      font-weight: 600;
      color: $color__white;
      font-size: 1.8rem;
    }
    &-link {
      padding: 2.5rem;
    }
    &-lang {
      @extend .header__menu-link;
      @include util__flex(stretch, stretch, 0.5rem);
      cursor: pointer;
      font-size: inherit;
      font-weight: inherit;
      &-icon {
        margin-bottom: 0.4rem;
      }
      &-text {
        @include util__flex(stretch, center);
      }
    }
  }
  &--show {
    @extend .header;
    top: 0;
  }
}
// // 헤더

// 인트로
.intro {
  min-height: 100vh;
  &__desc {
    @include util__center-text;
    opacity: 0;
    font-size: 5.2rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.35;

    &:last-child {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__arrow-down {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
  }
  &__video {
    &-container {
      @include util__bg;
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// // 인트로

// 섹션2
.mission {
  min-height: 100vh;
  &__dimmer {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  &__desc {
    @include util__center-text;
    font-size: 10rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
    &:nth-of-type(2) {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__bg {
    top: 0;
    bottom: 0;
    //bottom: 100vh;
    height: auto;
    overflow: hidden;
    &[data-bg='1'] {
      bottom: 0;
    }
    img {
      width: 100vw;
      height: 100vh;
    }
  }
}
// // 섹션2
.service-target {
  &__inner {
    @include util__flex(stretch, center);
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 100vh;
  }
  &__text {
    &-container {
      width: 100%;
    }
  }
  &__head {
    @include util__head-title;
  }
  &__desc {
    @include util__flex(flex-end);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: $size__p-line-height;
    margin-left: auto;
  }
  &__scroller {
    @include util__flex(center, center);
    height: 72rem;
    background: url('/assets/images/section_03_01.jpg');
    background-size: cover;
    &-text {
      @include util__head-title;
      text-align: center;
      color: $color__white;
    }
  }
}

// 섹션 4
.talent {
  &__inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    min-height: 100vh;
  }
  &__head {
    @include util__flex(stretch, center);
    @include util__head-title;
  }
  &__img {
    width: 100%;
    &-container {
      width: calc(50% - 2.5rem);
      margin-right: 0;
      margin-left: auto;
      margin-top: 18rem;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(2n) {
        margin-left: 0;
        margin-right: auto;
      }
    }
    &-desc {
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 1.2rem;
    }
  }
}
// // 섹션 4

// 푸터
.footer {
  padding: 5.8rem 0;
  background: $color__black;
  color: $color__white;
  font-size: 1.4rem;
  line-height: 1;
  word-spacing: 0.06em;
  &__inner {
    @include util__inner;
    @include util__flex(space-between, center);
  }
  &__info {
    &-copy {
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  &__logo {
    width: 19.3rem;
    img {
      width: 100%;
    }
  }
}
// // 푸터
