body.--invert {
  background: $color__black;

  .scroller-section__title {
    color: $color__white;
  }
  .text-section {
    color: $color__white;
  }
}
.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.logo {
  @include util__flex(center, center);
  width: 10rem;
  height: 100%;
  filter: invert(1);
}
.arrow {
  &-down {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
  }
  &-container {
    @include util__flex(stretch, center);
    margin-top: 1.4rem;
    height: 2.7rem;
  }
  &-icon {
    @include util__arrow(#000);
    border: none;
    position: relative;
    margin-left: -0.6rem;

    animation: ani__arrow 1s infinite alternate;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -0.2rem;
      left: -0.2rem;
      width: calc(100% - 0.6rem);
      height: calc(100% - 0.6rem);
      background: $color__white;
    }
    $gradient: linear-gradient(45deg, #ee5787 55%, #{$color__blue} 140%),
      linear-gradient(45deg, #ee5787 30%, #{$color__blue} 120%),
      linear-gradient(45deg, #ee5787 10%, #{$color__blue} 100%),
      linear-gradient(45deg, #ee5787 5%, #{$color__blue} 70%, #43cf2e 160%),
      linear-gradient(45deg, #ee5787 5%, #{$color__blue} 50%, #43cf2e 140%),
      linear-gradient(45deg, #ee5787 0%, #{$color__blue} 30%, #43cf2e 120%),
      linear-gradient(45deg, #{$color__blue}, #43cf2e 85%);

    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        background: nth($gradient, $i);
        animation-delay: #{0.1 * $i}s;
        z-index: #{8 - $i};
      }
    }
  }
  &-title {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 700;
  }
}
.card {
  &__list {
    @include util__flex(stretch, center, 2.4rem);
    position: relative;
  }
  &__item {
    @include util__flex(stretch, stretch, 0, column);
    border-radius: 2rem;
    padding: 2.4rem;
    // width: 40rem;
    // height: 54rem;
    width: 30.8rem;
    height: 40.8rem;
    color: $color__white;
    overflow: hidden;
    flex-shrink: 0;

    &.pink {
      background: $color__pink;
    }

    &.blue {
      background: $color__blue;
    }

    &.black {
      background: $color__black_2;
    }

    &.green {
      background: $color__green;
    }

    &.line {
      border: 0.2rem solid $color__white;
      background: $color__black;
    }

    &.line-rainbow {
      background: linear-gradient(#000, #000),
        linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
      padding: 0;
      border: 2px solid transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;

      &--glow {
        @extend .card, .line-rainbow;
        position: relative;
        overflow: visible;
      }
    }

    &.blur {
      position: relative;
      background-color: #ccc;
      & > * {
        position: relative;
        z-index: 3;
      }
      @for $i from 1 to 6 {
        &[data-blur='#{$i}'] {
          @include util__card-blur-bg('/assets/images/card_bg_0#{$i}.png');
        }
      }
    }

    &-glow-bg {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 160%;
      height: 160%;
      background-image: url('/assets/images/card_glow.png');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
    }

    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        z-index: $i;
      }
    }
  }
  &__title {
    font-size: 3.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    &-container {
      @include util__flex(space-between, flex-start);
    }
    &-caption {
      @include util__flex(stretch, flex-end, 0, column);
      font-size: 3rem;

      &-text {
        font-size: 1.4rem;
        font-weight: 800;
        margin-top: -1.2rem;
      }
    }
  }
  &__content {
    flex-grow: 1;
    font-weight: 700;
    line-height: $size__p-line-height;
    &-desc {
      margin-top: 2.4rem;
    }
    &-text {
      margin-top: 0.4rem;
      &-list {
        margin-top: 1.6rem;
      }
      &-item {
        margin-top: 0.4rem;
        &::before {
          content: '- ';
        }
      }
    }
    &-list {
      margin-top: 3.2rem;
    }
    &-item {
      margin-top: 2.4rem;
      &-title {
        font-size: 1.6rem;
      }
      &-text {
        margin-top: 0.4rem;
      }
    }
  }
  &__code-img {
    width: 100%;
    padding-top: 2.8rem;
    padding-right: 2.8rem;
  }
  &__img-container {
    height: 100%;
    position: relative;
    background: $color__black;
    border-radius: inherit;
  }
  &__img-icon {
    width: 15rem;
    height: 12.5rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
  &__account {
    @include util__flex(stretch, center, 0.8rem);
    font-size: 1.4rem;
    font-weight: 700;
    &-profile {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 100%;
      background: #ff009d;

      &.blue {
        background: $color__blue;
      }

      &.green {
        background: #26ff00;
      }
    }
  }
  &__sub {
    &-title {
      @include util__flex(stretch, center, 0.8rem);
      font-size: 1.6rem;
      font-weight: 800;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        background: url('/assets/images/contract_icon.png');
        background-size: contain;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__rainbow-text {
    background-image: linear-gradient(
      90deg,
      #{$color__green},
      #{$color__blue},
      #{$color__pink}
    );
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.rainbow-box {
  @extend .card__item, .line-rainbow;
  position: relative;
  height: 16.6rem;

  &__text {
    @extend .card__rainbow-text;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
  }
}

// 섹션
.sc {
  position: relative;
  overflow: hidden;
  &--full {
    .sc__inner {
      min-height: 100vh;
    }
  }
  &__inner {
    @include util__inner;
    height: 100%;
  }
  &__title {
    @include util__head-title;
  }
  &__bg {
    @include util__bg;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-container {
      position: relative;
    }
  }
}

// //섹션

.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: -13.8rem;
  left: 0;
  transition: top 0.3s, filter 0.3s;
  &__inner {
    @include util__flex(space-between, stretch);
    @include util__inner;
    height: 13.8rem;
  }
  &__menu {
    &-list {
      @include util__flex(flex-start, center);
      height: 100%;
      margin-right: -2.5rem;
    }
    &-item {
      font-weight: 600;
      color: $color__white;
      font-size: 1.8rem;
    }
    &-link {
      padding: 2.5rem;
    }
    &-lang {
      @extend .header__menu-link;
      @include util__flex(stretch, stretch, 0.5rem);
      cursor: pointer;
      font-size: inherit;
      font-weight: inherit;
      &-icon {
        margin-bottom: 0.4rem;
      }
      &-text {
        @include util__flex(stretch, center);
      }
    }
  }
  &--invert {
    filter: invert(1);
  }
  &--show {
    @extend .header;
    top: 0;
  }
}
.intro {
  &__desc {
    @include util__center-text;
    opacity: 0;
    font-size: 5.2rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.35;

    &:last-child {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__video {
    &-container {
      @include util__bg;
    }
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.mission {
  &__dimmer {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  &__desc {
    @include util__center-text;
    font-size: 10rem;
    color: $color__white;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
    &:nth-child(2) {
      font-size: 2.4rem;
      line-height: $size__p-line-height;
    }
  }
  &__bg {
    top: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
    &[data-bg='1'] {
      bottom: 0;
    }
    img {
      width: 100vw;
      height: 100vh;
    }
  }
}
.text-section {
  transition: color 0.3s;
  &__inner {
    @include util__flex(stretch, center);
    padding-top: 8rem;
    padding-bottom: 8rem;
    // min-height: 100vh;
  }
  &__text {
    &-container {
      width: 100%;
    }
  }
  &__desc {
    @include util__flex(flex-end);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: $size__p-line-height;
    margin-left: auto;
  }
  &__spliter {
    @include util__flex(center, center);
    position: relative;
    height: 72rem;
    background-size: cover;
    background-position: center;
    padding: 18rem 0;
    &[data-scroller='1'] {
      background-image: url('/assets/images/text_scroller_01.jpg');
    }
    &[data-scroller='2'] {
      background-image: url('/assets/images/text_scroller_02.jpg');
    }
    &-text {
      text-align: center;
      color: $color__white;
    }
    &-item {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      max-width: 22%;
      height: 14rem;
      background: $color__white;
      &:last-child {
        top: unset;
        bottom: 0;
        left: 0;
        right: unset;
      }
    }
  }
}
.talent {
  &__inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    overflow: hidden;
  }
  &__head {
    @include util__flex(stretch, center);
  }
  &__img {
    width: 100%;
    &-container {
      width: calc(50% - 2.5rem);
      margin-right: 0;
      margin-left: auto;
      margin-top: 18rem;
      &:first-child {
        margin-top: 0;
      }
      &:nth-child(2n) {
        margin-left: 0;
        margin-right: auto;
      }
    }
    &-desc {
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 1.2rem;
    }
    &-scroller {
      position: absolute;
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.scroller-section {
  @include util__flex();
  padding: 0;
  min-height: 100vh;
  &__inner {
    @include util__flex(center, stretch, 0, column);
  }
  &__title {
    font-weight: 800;
    flex-shrink: 0;
    padding-right: 16rem;
    transition: color 0.3s;
  }
  &__scroller {
    @include util__flex(stretch, center);
    @include util__inner;
    flex-grow: 1;
    flex-shrink: 0;
    // position: absolute;
    width: auto;
    // left: 0;
    // top: 50%;
    // transform: translateY(-50%);
  }
  &__desc {
    @include util__desc;
    padding-left: 10.4rem;
    flex-shrink: 0;
  }
}
[data-section='7'] {
  flex-direction: column;
}
.data-id {
  padding: 2.4rem 0;
  &__icon {
    @include util__flex(center, center);
    position: relative;
    width: 30rem;
    height: 30rem;
    border: 0.2rem solid $color__white;
    border-radius: 5.8rem;
    background: $color__black;

    &::after {
      @include util__arrow($color__white);
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: calc(100% + 1.2rem);
      transform: translateY(-50%) rotate(45deg);
    }

    img {
      width: 16rem;
      height: 16rem;
      object-fit: contain;
    }
    &-item {
      position: relative;
      &:last-child .data-id__icon {
        &::after {
          display: none;
        }
      }
    }
    &-list {
      @include util__flex(stretch, center, 6.4rem);
    }
    &-desc {
      font-size: 2.4rem;
      margin-top: 2.4rem;
      padding: 0 2.4rem;
      line-height: $size__p-line-height;
      font-weight: 700;
      color: $color__white;
    }
  }
  &__img {
    width: 100vw;
    img {
      width: 50.6rem;
      height: 53.6rem;
      object-fit: contain;
      margin: 0 auto;
      padding-left: 10rem;
    }
  }
  &__caption {
    @include util__inner;
    position: absolute;
    bottom: 4vh;
    color: rgba(255, 255, 255, 0.6);
    line-height: $size__p-line-height;
  }
}
.color-scroller {
  width: 100%;
  height: 17.4rem;
  position: relative;
  &__text {
    font-size: 3.6rem;
    color: $color__white;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    white-space: nowrap;
  }
  &__chip {
    display: inline-block;
    width: 33.33vw;
    height: 100%;
    position: absolute;
    left: 0;
    &:nth-of-type(1) {
      background: $color__pink;
    }
    &:nth-of-type(2) {
      background: $color__blue;
      left: 33.3%;
    }
    &:nth-of-type(3) {
      background: $color__green;
      left: unset;
      right: 0;
    }
  }
  &__blur {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2rem);
  }
}

.service-info {
  position: absolute;
  bottom: 0;
  // bottom: 50%;
  &__scroller {
    @include util__flex;
    position: relative;
    .service-info__content {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
    }
    .card__list {
      height: 100vh;
    }

    @for $i from 1 to 5 {
      .card__item:nth-child(#{$i}) {
        z-index: #{4 - $i};
      }
    }
  }
  &__content {
    width: calc(100% - 30.4rem);
    margin-right: 0;
    margin-left: auto;
    padding-left: 12rem;
    margin-top: 9.6rem;
    color: $color__white;

    &:first-child {
      margin-top: 0;
    }
    &-desc {
      margin-top: 2.4rem;
    }
  }
  &__list {
    margin-top: 4.8rem;
  }
  &__item {
    @include util__flex(stretch, center, 5.2rem);
    margin-top: 3.6rem;
    &:first-child {
      margin-top: 0;
    }
    .text-section__desc {
      margin-left: 0;
    }
  }
}
.service {
  min-height: 100vh;
  overflow: visible;
  .scroller-section {
    position: absolute;
    top: 0;
  }
  .sc__inner {
    height: auto;
  }
  &__list {
    @include util__flex(space-between, stretch, 2.7rem);
    margin-top: 4.8rem;
  }
  &__item {
    flex: 1 0 0;
  }
  &__thumb {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    display: block;
    text-align: left;
    font-weight: 800;
    margin-top: 2.4rem;
  }
}

.creator {
  &__inner {
    @include util__flex(center, stretch, 0, column);
    background: url('/assets/images/section_06_01.jpeg');
    background-size: cover;
    background-position: center;
  }
  &__desc {
    @include util__desc;
    line-height: 1.9;
    margin-top: 2.6rem;
  }
  &__text-container {
    position: absolute;
    left: 15rem;
    color: $color__white;
  }
}
.ground {
  &__inner {
    @include util__flex(center, flex-start, 0, column);
  }
  &__desc {
    font-size: 1.8rem;
    line-height: 1.9;
    font-weight: 700;
    margin-top: 3.4rem;
  }
}

// 버튼
.btn {
  @include util__flex(center, center);
  padding: 0.2rem 2rem;
  height: 4.8rem;
  border: 0.2rem solid $color__black;
  font-size: 1.8rem;
  font-weight: 700;
  &--black {
    @extend .btn;
    background: $color__black;
    color: $color__white;
  }
  &-container {
    @include util__flex(stretch, center, 1.8rem);
    margin-top: 7rem;
  }
}
// // 버튼

// ticker
.ticker {
  overflow: hidden;
  position: relative;
  transform: translateY(100%);
  transition: transform 0.3s 0.15s;

  &--active {
    transform: translateY(0);
  }

  &__inner {
    @include util__flex();
  }
  &__scroller {
    @include util__flex(flex-start, center);
    animation: ani__ticker 10s linear infinite both;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      backdrop-filter: blur(2rem);
    }
  }
  &__item {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.89;
    flex: 1 0 0;
    font-weight: 600;
    color: $color__white;
    white-space: nowrap;

    &:nth-child(3n + 1) {
      background-color: $color__pink;
    }

    &:nth-child(3n + 2) {
      background-color: $color__green;
    }
    &:nth-child(3n + 3) {
      background-color: $color__blue;
    }
  }
  &__text {
    display: block;
    position: relative;
    z-index: 2;
    padding: 1rem 7.2rem;
  }
}
// // ticker

// top 버튼
.top-btn {
  @include util__flex(center, center);
  width: 5rem;
  height: 5rem;
  background: rgb(17, 17, 17);
  // position: absolute;
  // right: 10rem;
  // bottom: 26rem;
  position: fixed;
  right: 10rem;
  bottom: 4rem;
  cursor: pointer;
  img {
    transform: rotate(180deg);
  }
}
// // top 버튼

// 푸터
.footer {
  padding: 5.8rem 0;
  background: $color__black;
  color: $color__white;
  font-size: 1.4rem;
  line-height: 1;
  word-spacing: 0.06em;
  &__inner {
    @include util__inner;
    @include util__flex(space-between, center);
  }
  &__info {
    &-copy {
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  &__logo {
    width: 19.3rem;
    img {
      width: 100%;
    }
  }
}
// // 푸터
