// $size__section-inner: 0 7.2rem;
$size__section-inner: 0 10rem;
$size__letter-spacing: 0.02em;
$size__line-height: 1.33;

$color__white: #fff;

$font__archivo: 'Archivo', 'Noto Sans KR', sans-serif;
