// $size__section-inner: 0 7.2rem;
$size__section-inner: 0 10rem;
$size__letter-spacing: 0.02em;
$size__line-height: 1.33;
$size__p-line-height: 1.6;

$size__pc-lg: 1440px;
$size__pc-md: 1024px;
$size__tb-md: 749px;

$color__white: #fff;
$color__black: #000;
$color__pink: #e657af;
$color__blue: #0049ff;
$color__black_2: #131415;
$color__green: #00bf41;

$font__archivo: 'Archivo', 'Noto Sans KR', sans-serif;
