html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  font-size: 1.4rem;
  min-width: 280px;
  overflow-x: hidden;
  word-break: keep-all;
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  line-height: 1.33;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", "Noto Sans KR", sans-serif;
}

button {
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  background: transparent;
}

.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  text-indent: 9999;
  width: 0;
  height: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 10rem;
  height: 100%;
  filter: invert(1);
}

.sc {
  position: relative;
  overflow: hidden;
}
.sc__inner {
  padding: 0 10rem;
  height: 100%;
}
.sc__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: inline-block;
}
.sc__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc__bg-container {
  position: relative;
}

.header, .header--show {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: -13.8rem;
  left: 0;
  transition: top 0.3s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  padding: 0 10rem;
  height: 13.8rem;
}
.header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  margin-right: -2.5rem;
}
.header__menu-item {
  font-weight: 600;
  color: #fff;
  font-size: 1.8rem;
}
.header__menu-link, .header__menu-lang {
  padding: 2.5rem;
}
.header__menu-lang {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.5rem;
  flex-direction: row;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}
.header__menu-lang-icon {
  margin-bottom: 0.4rem;
}
.header__menu-lang-text {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.header--show {
  top: 0;
}

.intro {
  min-height: 100vh;
}
.intro__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  font-size: 5.2rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.35;
}
.intro__desc:last-child {
  font-size: 2.4rem;
  line-height: 1.6;
}
.intro__arrow-down {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
}
.intro__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__video-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mission {
  min-height: 100vh;
}
.mission__dimmer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.mission__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  font-size: 10rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  z-index: 1;
}
.mission__desc:nth-of-type(2) {
  font-size: 2.4rem;
  line-height: 1.6;
}
.mission__bg {
  top: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
}
.mission__bg[data-bg="1"] {
  bottom: 0;
}
.mission__bg img {
  width: 100vw;
  height: 100vh;
}

.service-target__inner {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding-top: 8rem;
  padding-bottom: 8rem;
  min-height: 100vh;
}
.service-target__text-container {
  width: 100%;
}
.service-target__head {
  font-size: 7.2rem;
  font-weight: 700;
}
.service-target__desc {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6;
  margin-left: auto;
}
.service-target__scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 72rem;
  background: url("/assets/images/section_03_01.jpg");
  background-size: cover;
}
.service-target__scroller-text {
  font-size: 7.2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.talent__inner {
  display: grid;
  grid-template-columns: 3fr 5fr;
  min-height: 100vh;
}
.talent__head {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  font-size: 7.2rem;
  font-weight: 700;
}
.talent__img {
  width: 100%;
}
.talent__img-container {
  width: calc(50% - 2.5rem);
  margin-right: 0;
  margin-left: auto;
  margin-top: 18rem;
}
.talent__img-container:first-child {
  margin-top: 0;
}
.talent__img-container:nth-child(2n) {
  margin-left: 0;
  margin-right: auto;
}
.talent__img-desc {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.2rem;
}

.footer {
  padding: 5.8rem 0;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1;
  word-spacing: 0.06em;
}
.footer__inner {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.footer__info-copy {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.footer__logo {
  width: 19.3rem;
}
.footer__logo img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */