@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Archivo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Archivo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Archivo-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Archivo-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/NotoSansCJKkr-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
}
@keyframes ani__arrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani__ticker {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}
html {
  font-size: 62.5%;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  font-size: 1.4rem;
  min-width: 1024px;
  word-break: keep-all;
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  line-height: 1.33;
  word-break: keep-all;
  position: relative;
  transition: background 0.3s;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", "Noto Sans KR", sans-serif;
}

button {
  font-family: "Archivo", "Noto Sans KR", sans-serif;
  background: transparent;
}

body.--invert {
  background: #000;
}
body.--invert .sc__title {
  color: #fff;
}
body.--invert .text-section {
  color: #fff;
}
body.--invert .text-section__desc {
  color: #fff;
}
body.--invert .data-id__icon-desc {
  color: #fff;
}

.sound-only {
  font-size: 0;
  position: absolute;
  z-index: -9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 10rem;
  height: 100%;
  filter: invert(1);
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
}
.arrow-right {
  position: fixed;
  padding-bottom: 2.4rem;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}
.arrow-right--show {
  opacity: 1;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  margin-top: 1.4rem;
  height: 2.7rem;
}
.arrow-icon {
  width: 2.6rem;
  height: 2.6rem;
  border: 0.8rem solid #000;
  transform: rotate(45deg);
  box-sizing: border-box;
  border-left: none;
  border-bottom: none;
  border: none;
  position: relative;
  margin-left: -0.6rem;
  animation: ani__arrow 1s infinite alternate;
}
.arrow-icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -0.2rem;
  left: -0.2rem;
  width: calc(100% - 0.6rem);
  height: calc(100% - 0.6rem);
  background: #fff;
}
.arrow-icon:nth-child(1) {
  -o-border-image: linear-gradient(45deg, #ee5787 55%, #0049ff 140%);
     border-image: linear-gradient(45deg, #ee5787 55%, #0049ff 140%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.1s;
  z-index: 7;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(2) {
  -o-border-image: linear-gradient(45deg, #ee5787 30%, #0049ff 120%);
     border-image: linear-gradient(45deg, #ee5787 30%, #0049ff 120%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.2s;
  z-index: 6;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(3) {
  -o-border-image: linear-gradient(45deg, #ee5787 10%, #0049ff 100%);
     border-image: linear-gradient(45deg, #ee5787 10%, #0049ff 100%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.3s;
  z-index: 5;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(4) {
  -o-border-image: linear-gradient(45deg, #ee5787 5%, #0049ff 70%, #43cf2e 160%);
     border-image: linear-gradient(45deg, #ee5787 5%, #0049ff 70%, #43cf2e 160%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.4s;
  z-index: 4;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(5) {
  -o-border-image: linear-gradient(45deg, #ee5787 5%, #0049ff 50%, #43cf2e 140%);
     border-image: linear-gradient(45deg, #ee5787 5%, #0049ff 50%, #43cf2e 140%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.5s;
  z-index: 3;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(6) {
  -o-border-image: linear-gradient(45deg, #ee5787 0%, #0049ff 30%, #43cf2e 120%);
     border-image: linear-gradient(45deg, #ee5787 0%, #0049ff 30%, #43cf2e 120%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.6s;
  z-index: 2;
  border-left: none;
  border-bottom: none;
}
.arrow-icon:nth-child(7) {
  -o-border-image: linear-gradient(45deg, #0049ff, #43cf2e 85%);
     border-image: linear-gradient(45deg, #0049ff, #43cf2e 85%);
  border-style: solid;
  border-width: 0.8rem;
  border-image-slice: 30%;
  animation-delay: 0.7s;
  z-index: 1;
  border-left: none;
  border-bottom: none;
}
.arrow-title {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.6;
  margin-top: 1.8rem;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 4.4rem;
}
@media (max-width: 1440px) {
  .arrow-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .arrow-title {
    font-size: 1.6rem;
  }
}
.arrow-title__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
.arrow-title__text--show {
  opacity: 1;
}

.card__list {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  position: relative;
}
.card__item, .rainbow-box {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  border-radius: 2rem;
  padding: 3.4rem;
  width: 40rem;
  height: 54rem;
  overflow: hidden;
  color: #fff;
  flex-shrink: 0;
}
.card__item.pink, .pink.rainbow-box {
  background: #e657af;
}
.card__item.blue, .blue.rainbow-box {
  background: #0049ff;
}
.card__item.black, .black.rainbow-box {
  background: #131415;
}
.card__item.green, .green.rainbow-box {
  background: #00bf41;
}
.card__item.line, .line.rainbow-box {
  border: 0.2rem solid #fff;
  background: #000;
}
.card__item.line-rainbow, .card__item.rainbow-box, .rainbow-box, .card__item.line-rainbow--glow, .line-rainbow--glow.rainbow-box {
  background: linear-gradient(#000, #000), linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  padding: 0;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.card__item.line-rainbow--glow, .line-rainbow--glow.rainbow-box {
  position: relative;
  overflow: visible;
}
.card__item.blur, .blur.rainbow-box {
  position: relative;
  background-color: #ccc;
}
.card__item.blur > *, .blur.rainbow-box > * {
  position: relative;
  z-index: 3;
}
.card__item.blur[data-blur="1"]::after, .blur[data-blur="1"].rainbow-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-image: url(../assets/images/card_bg_01.png);
  z-index: 2;
  border-radius: 2rem;
  filter: blur(4rem);
}
.card__item.blur[data-blur="1"]::before, .blur[data-blur="1"].rainbow-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 42%, 0.5);
  background-blend-mode: multiply;
}
.card__item.blur[data-blur="2"]::after, .blur[data-blur="2"].rainbow-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-image: url(../assets/images/card_bg_02.png);
  z-index: 2;
  border-radius: 2rem;
  filter: blur(4rem);
}
.card__item.blur[data-blur="2"]::before, .blur[data-blur="2"].rainbow-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 42%, 0.5);
  background-blend-mode: multiply;
}
.card__item.blur[data-blur="3"]::after, .blur[data-blur="3"].rainbow-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-image: url(../assets/images/card_bg_03.png);
  z-index: 2;
  border-radius: 2rem;
  filter: blur(4rem);
}
.card__item.blur[data-blur="3"]::before, .blur[data-blur="3"].rainbow-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 42%, 0.5);
  background-blend-mode: multiply;
}
.card__item.blur[data-blur="4"]::after, .blur[data-blur="4"].rainbow-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-image: url(../assets/images/card_bg_04.png);
  z-index: 2;
  border-radius: 2rem;
  filter: blur(4rem);
}
.card__item.blur[data-blur="4"]::before, .blur[data-blur="4"].rainbow-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 42%, 0.5);
  background-blend-mode: multiply;
}
.card__item.blur[data-blur="5"]::after, .blur[data-blur="5"].rainbow-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-image: url(../assets/images/card_bg_05.png);
  z-index: 2;
  border-radius: 2rem;
  filter: blur(4rem);
}
.card__item.blur[data-blur="5"]::before, .blur[data-blur="5"].rainbow-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 42%, 0.5);
  background-blend-mode: multiply;
}
.card__item-glow-bg {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 160%;
  height: 160%;
  background-image: url("../assets/images/card_glow.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
.card__item:nth-child(1), .rainbow-box:nth-child(1) {
  z-index: 1;
}
.card__item:nth-child(2), .rainbow-box:nth-child(2) {
  z-index: 2;
}
.card__item:nth-child(3), .rainbow-box:nth-child(3) {
  z-index: 3;
}
.card__item:nth-child(4), .rainbow-box:nth-child(4) {
  z-index: 4;
}
.card__title {
  font-size: 5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
}
.card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: row;
}
.card__title-caption {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  gap: 0;
  flex-direction: column;
  font-size: 3rem;
}
.card__title-caption-text {
  font-size: 1.6rem;
  font-weight: 800;
  margin-top: -1.2rem;
}
.card__content {
  flex-grow: 1;
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.6rem;
}
.card__content-desc {
  margin-top: 4rem;
}
.card__content-text {
  margin-top: 0.4rem;
}
.card__content-text-list {
  margin-top: 1.6rem;
}
.card__content-text-item {
  margin-top: 0.4rem;
}
.card__content-text-item::before {
  content: "- ";
}
.card__content-list {
  margin-top: 3.2rem;
}
.card__content-item {
  margin-top: 2.4rem;
}
.card__content-item-title {
  font-size: 1.6rem;
}
.card__content-item-text {
  margin-top: 0.4rem;
}
.card__code-img {
  width: 100%;
  padding-top: 2.8rem;
  padding-right: 2.8rem;
}
.card__img-container {
  height: 100%;
  position: relative;
  background: #000;
  border-radius: inherit;
}
.card__img-icon {
  width: 15rem;
  height: 12.5rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.card__sub-title {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0.8rem;
  flex-direction: row;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.6;
  font-weight: 800;
  position: relative;
}
@media (max-width: 1440px) {
  .card__sub-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .card__sub-title {
    font-size: 1.6rem;
  }
}
.card__sub-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: url("../assets/images/contract_icon.png");
  background-size: contain;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.card__account {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0.8rem;
  flex-direction: row;
  font-weight: 700;
}
.card__account-id {
  font-size: 1.6rem;
}
.card__account-profile {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  background: #ff009d;
}
.card__account-profile.blue {
  background: #0049ff;
}
.card__account-profile.green {
  background: #26ff00;
}
.card__rainbow-text, .rainbow-box__text {
  background-image: linear-gradient(90deg, #00bf41, #0049ff, #e657af);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.rainbow-box {
  position: relative;
  height: 16.6rem;
  flex-basis: 33.8rem;
  flex-shrink: 1;
}
.rainbow-box__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
}

.sc {
  position: relative;
  overflow: hidden;
}
.sc--full .sc__inner {
  min-height: 100vh;
}
.sc__inner {
  padding: 0 10rem;
  height: 100%;
}
@media (max-width: 1440px) {
  .sc__inner {
    padding: 0 7.2rem;
  }
}
@media (max-width: 1024px) {
  .sc__inner {
    padding: 0 6rem;
  }
}
@media (max-width: 749px) {
  .sc__inner {
    padding: 0 2.4rem;
  }
}
.sc__title {
  font-size: 7.2rem;
  font-weight: 800;
}
@media (max-width: 1440px) {
  .sc__title {
    font-size: 5.4rem;
  }
}
@media (max-width: 1024px) {
  .sc__title {
    font-size: 4rem;
  }
}
@media (max-width: 749px) {
  .sc__title {
    font-size: 4.4rem;
  }
}
.sc__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: inline-block;
}
.sc__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc__bg-container {
  position: relative;
}

.header, .header--show {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: -13.8rem;
  left: 0;
  transition: top 0.3s, filter 0.3s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  padding: 0 10rem;
  height: 13.8rem;
}
@media (max-width: 1440px) {
  .header__inner {
    padding: 0 7.2rem;
  }
}
@media (max-width: 1024px) {
  .header__inner {
    padding: 0 6rem;
  }
}
@media (max-width: 749px) {
  .header__inner {
    padding: 0 2.4rem;
  }
}
.header img, .header--show img {
  transition: filter 0.3s;
}
.header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  margin-right: -2.5rem;
}
.header__menu-item {
  font-weight: 600;
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.3s;
}
.header__menu-item:last-child {
  position: relative;
}
.header__menu-link, .header__menu-lang {
  padding: 2.5rem;
}
.header__menu-lang {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.5rem;
  flex-direction: row;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}
.header__menu-lang-icon {
  margin-bottom: 0.4rem;
}
.header__menu-lang-text {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.header__menu-lang-list {
  position: absolute;
  background: #000;
  border: 0.1rem solid rgb(90, 90, 90);
  border-radius: 0.4rem;
  top: calc(100% - 1.6rem);
  left: 50%;
  transform: translateX(calc(-50% + 1rem));
  opacity: 0;
  visibility: hidden;
  color: #fff;
  transition: opacity 0.3s, visibility 0.3s 0s, background 0.3s, border-color 0.3s, color 0.3s;
}
.header__menu-lang-list--show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0s;
}
.header__menu-lang-item {
  opacity: 0.2;
  font-weight: 600;
}
.header__menu-lang-item a {
  padding: 0.2rem 1.4rem;
}
.header__menu-lang-item--active {
  opacity: 1;
}
.header__menu-lang-item:first-child {
  padding-top: 0.6rem;
}
.header__menu-lang-item:last-child {
  padding-bottom: 0.4rem;
}
.header--invert img {
  filter: invert(1);
}
.header--invert .header__menu-item {
  color: #000;
}
.header--invert .header__menu-lang-list {
  border-color: rgb(197, 197, 197);
  background: #fff;
  color: #000;
}
.header--show {
  top: 0;
}

.intro__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  font-size: 5.2rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.35;
}
.intro__desc:last-child {
  font-size: 2.4rem;
  line-height: 1.6;
}
.intro__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__video-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mission__dimmer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.mission__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  max-width: 600px;
  padding: 32px;
  white-space: normal;
  font-size: 2.4rem;
  font-weight: 700;
  z-index: 1;
  line-height: 1.6;
  color: #fff;
}
.mission__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  color: #fff;
  font-weight: 700;
  z-index: 1;
  font-size: 10rem;
  line-height: 1.2;
}
.mission__bg {
  top: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
}
.mission__bg[data-bg="1"] {
  bottom: 0;
}
.mission__bg img {
  width: 100vw;
  height: 100vh;
}

.text-section {
  transition: color 0.3s;
}
.text-section__inner {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.text-section__text-container {
  width: 100%;
}
.text-section__desc {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.6;
  margin-left: auto;
}
.text-section__spliter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  position: relative;
  height: 72rem;
  background-size: cover;
  background-position: center;
  padding: 18rem 0;
}
.text-section__spliter[data-scroller="1"] {
  background-image: url("../assets/images/text_scroller_01.jpg");
}
.text-section__spliter[data-scroller="2"] {
  background-image: url("../assets/images/text_scroller_02.jpg");
}
.text-section__spliter-text {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.text-section__spliter-text .line {
  display: inline-block !important;
}
.text-section__spliter-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 22%;
  height: 14rem;
  background: #fff;
}
.text-section__spliter-item:last-child {
  top: unset;
  bottom: 0;
  left: 0;
  right: unset;
}

.talent__inner {
  display: grid;
  grid-template-columns: 3fr 5fr;
  overflow: hidden;
  gap: 4.8rem;
}
.talent__head {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.talent__img {
  width: 100%;
}
.talent__img-container {
  width: calc(50% - 2.5rem);
  margin-right: 0;
  margin-left: auto;
  margin-top: 18rem;
}
.talent__img-container:first-child {
  margin-top: 0;
}
.talent__img-container:nth-child(2n) {
  margin-left: 0;
  margin-right: auto;
}
.talent__img-desc {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1.2rem;
  line-height: 1.5;
}
.talent__img-scroller {
  position: absolute;
  width: 100%;
}
.talent__img-scroller-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroller-section {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  padding: 0;
  min-height: 100vh;
}
.scroller-section__inner {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
}
.scroller-section__title {
  font-weight: 800;
  flex-shrink: 0;
  padding-right: 16rem;
  transition: color 0.3s;
}
.scroller-section__scroller {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0 10rem;
  flex-grow: 1;
  flex-shrink: 0;
  width: auto;
}
@media (max-width: 1440px) {
  .scroller-section__scroller {
    padding: 0 7.2rem;
  }
}
@media (max-width: 1024px) {
  .scroller-section__scroller {
    padding: 0 6rem;
  }
}
@media (max-width: 749px) {
  .scroller-section__scroller {
    padding: 0 2.4rem;
  }
}
.scroller-section__desc {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.6;
  padding-left: 10.4rem;
  flex-shrink: 0;
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .scroller-section__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .scroller-section__desc {
    font-size: 1.6rem;
  }
}

[data-section="7"] {
  flex-direction: column;
}
[data-section="7"] .card__title {
  height: 4ch;
}

.data-id {
  padding: 2.4rem 0;
}
.data-id__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  position: relative;
  width: 30rem;
  height: 30rem;
  border: 0.2rem solid #fff;
  border-radius: 5.8rem;
  background: #000;
}
.data-id__icon::after {
  width: 2.6rem;
  height: 2.6rem;
  border: 0.8rem solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
  border-left: none;
  border-bottom: none;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: calc(100% + 1.2rem);
  transform: translateY(-50%) rotate(45deg);
}
.data-id__icon img {
  width: 16rem;
  height: 16rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.data-id__icon-item {
  position: relative;
}
.data-id__icon-item:last-child .data-id__icon::after {
  display: none;
}
.data-id__icon-list {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 6.4rem;
  flex-direction: row;
}
.data-id__icon-desc {
  font-size: 2.4rem;
  margin-top: 2.4rem;
  padding: 0 2.4rem;
  line-height: 1.6;
  font-weight: 700;
}
.data-id__img {
  transform: translateY(-7%);
  width: 50.6rem;
  height: 53.6rem;
  margin: 0 auto;
  position: relative;
}
.data-id__img-container {
  width: 100vw;
}
.data-id__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.data-id__img-text {
  position: absolute;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.data-id__img-text:nth-child(1) {
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
.data-id__img-text:nth-child(2) {
  left: 8%;
  bottom: 26.3%;
}
.data-id__img-text:nth-child(3) {
  right: 8%;
  bottom: 26.3%;
}
.data-id__img-title {
  font-size: 2.4rem;
}
.data-id__img-desc {
  font-size: 1.6rem;
}
.data-id__caption {
  padding: 0 10rem;
  position: absolute;
  bottom: 10vh;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
@media (max-width: 1440px) {
  .data-id__caption {
    padding: 0 7.2rem;
  }
}
@media (max-width: 1024px) {
  .data-id__caption {
    padding: 0 6rem;
  }
}
@media (max-width: 749px) {
  .data-id__caption {
    padding: 0 2.4rem;
  }
}

.color-scroller {
  width: 100%;
  height: 17.4rem;
  position: relative;
}
.color-scroller__text {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.color-scroller__chip {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  position: absolute;
  left: 0;
}
.color-scroller__chip:nth-of-type(1) {
  background: #e657af;
}
.color-scroller__chip:nth-of-type(2) {
  background: #0049ff;
  left: 33.3%;
}
.color-scroller__chip:nth-of-type(3) {
  background: #00bf41;
  left: unset;
  right: 0;
}
.color-scroller__blur {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

.service-info {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.service-info__scroller {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  position: relative;
}
.service-info__scroller .service-info__content {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.service-info__scroller .card__list {
  height: 100vh;
}
.service-info__scroller .card__item:nth-child(1), .service-info__scroller .rainbow-box:nth-child(1) {
  z-index: 3;
}
.service-info__scroller .card__item:nth-child(2), .service-info__scroller .rainbow-box:nth-child(2) {
  z-index: 2;
}
.service-info__scroller .card__item:nth-child(3), .service-info__scroller .rainbow-box:nth-child(3) {
  z-index: 1;
}
.service-info__scroller .card__item:nth-child(4), .service-info__scroller .rainbow-box:nth-child(4) {
  z-index: 0;
}
.service-info__content {
  width: calc(100% - 40rem);
  margin-right: 0;
  margin-left: auto;
  margin-top: 9.6rem;
  padding-left: 14vw;
}
.service-info__content:first-child {
  margin-top: 0;
}
.service-info__content-desc {
  margin-top: 2.4rem;
  max-width: 75rem;
  margin-left: 0;
}
.service-info__list {
  margin-top: 4.8rem;
}
.service-info__item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 5.2rem;
  flex-direction: row;
  margin-top: 3.6rem;
}
.service-info__item:first-child {
  margin-top: 0;
}
.service-info__item .text-section__desc {
  margin-left: 0;
}

.service {
  min-height: 100vh;
  overflow: visible;
}
.service .scroller-section {
  position: absolute;
  top: 0;
}
.service .sc__inner {
  height: auto;
}
.service__title {
  font-size: 6rem;
}
.service__list {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 2.7rem;
  flex-direction: row;
  margin-top: 4.8rem;
}
.service__item {
  flex: 1 0 0;
  max-width: 30rem;
}
.service__thumb {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.service__thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__desc {
  display: block;
  text-align: left;
  font-weight: 800;
  margin-top: 2.4rem;
}

.creator__title {
  font-size: 6rem;
  line-height: 1.2;
}
.creator__inner {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  background: url("../assets/images/section_06_01.jpeg");
  background-size: cover;
  background-position: center;
}
.creator__desc {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.6;
  line-height: 1.6;
  margin-top: 2.6rem;
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .creator__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .creator__desc {
    font-size: 1.6rem;
  }
}
.creator__text-container {
  position: absolute;
  left: 20rem;
  color: #fff;
}

.ground__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
.ground__desc {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.6;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 3.4rem;
}
@media (max-width: 1440px) {
  .ground__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .ground__desc {
    font-size: 1.6rem;
  }
}

.btn, .btn--black {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0.2rem 2rem;
  height: 4.8rem;
  border: 0.2rem solid #000;
  font-size: 1.8rem;
  font-weight: 700;
}
.btn--black {
  background: #000;
  color: #fff;
}
.btn-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1.8rem;
  flex-direction: row;
  margin-top: 7rem;
}

.ticker {
  overflow: hidden;
  position: relative;
  transform: translateY(100%);
  transition: transform 0.3s 0.15s;
}
.ticker--active {
  transform: translateY(0);
}
.ticker__inner {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
}
.ticker__scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: row;
  animation: ani__ticker 10s linear infinite both;
  position: relative;
}
.ticker__scroller::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}
.ticker__item {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.89;
  flex: 1 0 0;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
.ticker__item:nth-child(3n+1) {
  background-color: #e657af;
}
.ticker__item:nth-child(3n+2) {
  background-color: #00bf41;
}
.ticker__item:nth-child(3n+3) {
  background-color: #0049ff;
}
.ticker__text {
  display: block;
  position: relative;
  z-index: 2;
  padding: 1rem 7.2rem;
}

.top-btn, .top-btn--fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 5rem;
  height: 5rem;
  background: rgb(17, 17, 17);
  position: absolute;
  right: 10rem;
  bottom: 26rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 10;
}
.top-btn--fixed {
  position: fixed;
  right: 10rem;
  bottom: 4rem;
}
.top-btn--hidden {
  opacity: 0;
}
.top-btn img, .top-btn--fixed img {
  transform: rotate(180deg);
}

.footer {
  padding: 5.8rem 0;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1;
  word-spacing: 0.06em;
}
.footer__inner {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
@media (max-width: 1440px) {
  .footer__inner {
    padding: 0 7.2rem;
  }
}
@media (max-width: 1024px) {
  .footer__inner {
    padding: 0 6rem;
  }
}
@media (max-width: 749px) {
  .footer__inner {
    padding: 0 2.4rem;
  }
}
.footer__info-copy {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.footer__logo {
  width: 19.3rem;
}
.footer__logo img {
  width: 100%;
}

.br--all {
  display: inline-block !important;
}
.br--pc-none {
  display: none;
}
@media (max-width: 749px) {
  .br--pc-none {
    display: inline-block !important;
  }
}
.br--pc-md {
  display: none;
}
@media (max-width: 1024px) {
  .br--pc-md {
    display: inline-block !important;
  }
}
.br--tb-md {
  display: none;
}

.mb-only {
  display: none;
}
@media (max-width: 749px) {
  .mb-only {
    display: block;
  }
}

.pc-only {
  display: block;
}
@media (max-width: 749px) {
  .pc-only {
    display: none;
  }
}

@media (max-width: 1440px) {
  .text-section__desc {
    font-size: 1.8rem;
  }
  .text-section__spliter {
    height: 57.5rem;
  }
  .text-section__spliter-item {
    height: 12rem;
  }
  .talent__img-container {
    margin-top: 8.4rem;
  }
  .color-scroller__text {
    font-size: 3.6rem;
  }
  .top-btn, .top-btn--fixed {
    right: 7.2rem;
  }
  .creator__title {
    font-size: 5.4rem;
  }
  .creator__desc {
    font-size: 1.8rem;
    line-height: 1.9;
  }
  .creator__text-container {
    left: 15rem;
  }
  .card__item:not(.rainbow-box), .rainbow-box:not(.rainbow-box) {
    width: 30.3rem;
    height: 40.8rem;
  }
  .card__item:not(.line-rainbow, .card__item.line-rainbow--glow, .line-rainbow--glow.rainbow-box, .rainbow-box), .rainbow-box:not(.line-rainbow, .card__item.line-rainbow--glow, .line-rainbow--glow.rainbow-box, .rainbow-box) {
    padding: 2.4rem;
  }
  .card__list {
    gap: 2.4rem;
  }
  .card__title {
    font-size: 3.6rem;
    line-height: 1;
  }
  .card__title-caption-text {
    font-size: 1.4rem;
    margin-top: -1.6rem;
  }
  .card__content {
    font-size: 1.4rem;
  }
  .card__content-desc {
    margin-top: 2.4rem;
  }
  .card__account-id {
    font-size: 1.4rem;
  }
  .card__rainbow-text, .rainbow-box__text {
    font-size: 3.6rem;
  }
  .data-id__img-title {
    font-size: 1.8rem;
  }
  .service-info__content {
    width: calc(100% - 30.3rem);
    padding-left: 8vw;
  }
  .rainbow-box__text {
    font-size: 2.4rem;
  }
  .arrow-title {
    padding-bottom: 2.8rem;
  }
  .ticker__text {
    font-size: 1.8rem;
  }
}
@media (max-width: 1200px) {
  .mission__desc br {
    display: none;
  }
}
@media (max-width: 1024px) {
  .intro__desc {
    font-size: 2.6rem;
  }
  .mission__title {
    font-size: 5rem;
  }
  .text-section__desc {
    font-size: 1.6rem;
  }
  .text-section__spliter {
    height: 45.6rem;
  }
  .text-section__spliter-item {
    height: 7.2rem;
  }
  .scroller-section {
    justify-content: stretch;
    align-items: stretch;
  }
  .talent__img-container {
    width: 50%;
  }
  .color-scroller__text {
    font-size: 2.4rem;
  }
  .top-btn, .top-btn--fixed {
    right: 6rem;
  }
  .creator__title {
    font-size: 4rem;
  }
  .creator__desc {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .creator__text-container {
    left: 6rem;
  }
  .ticker__text {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */